body {
  font-family: "VT323", monospace;
}

.canvas {
  width: 600px;
  height: 600px;
  box-sizing: border-box;
  border: 5px solid black;
  margin: 0 auto;
  position: relative;
  h2 {
    font-size: 2.4rem;
    margin-top: 8%;
  }
  .player-two-container {
    display: flex;
    flex-direction: row;
    height: 43%;
    align-items: center;
    #ai-image {
      width: 43%;
      height: auto;
      margin: 3% 3% 0 auto;
      transform: scaleX(-1);
    }
    #pokeballs {
      width: 50%;
      height: 25%;
      margin-top: -8%;
      transform: scaleX(-1);
    }
  }

  #charmander {
    position: absolute;
    margin-top: -4%;
    left: 15px;
    width: 34%;
    height: auto;
  }

  #pokeballsP2 {
    position: absolute;
    margin-top: -20%;
    left: 12px;
    width: 49%;
    height: 11%;
    padding: 0;
    .hp-container-mew {
      margin-top: -10%;
      border-bottom: 7px solid black;
      border-right: 7px solid black;
      height: 50%;
      display: flex;
      flex-direction: row;
      .bar {
        width: 70%;
        height: 15px;
        background-color: green;
        border-radius: 40px;
        margin-top: 2%;
        margin-left: 5%;
      }
      h2 {
        margin-top: -2%;
      }
    }
  }

  #pokeballsP1 {
    position: absolute;
    margin-top: 3%;
    right: 12px;
    width: 49%;
    height: 11%;
    padding: 0;
    .hp-container {
      margin-top: -10%;
      border-bottom: 7px solid black;
      border-right: 7px solid black;
      height: 50%;
      display: flex;
      flex-direction: row;
      .bar {
        width: 70%;
        height: 15px;
        background-color: green;
        border-radius: 40px;
        margin-top: 2%;
        margin-left: 5%;
      }
      h2 {
        margin-top: -2%;
      }
    }
  }

  .player-one-container {
    height: 30%;
    width: 95%;
    border: 5px solid black;
    margin-top: 23%;
    margin-left: auto;
    margin-right: auto;
    div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-left: 3%;
      margin-top: 5%;
      width: 90%;

      button {
        outline: none;
        border: none;
        background-color: transparent;
        font-family: "VT323", monospace;
        font-size: 2.6rem;
        margin: 4%;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.restart-game {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 20px;
  font-family: "VT323", monospace;
  padding: 8px 12px;
  background-color: rgb(61, 61, 255);
  border-radius: 8px;
  border: none;
  outline: none;
  display: none;
  &:hover {
    cursor: pointer;
    background-color: rgb(82, 82, 255);
  }
}

.health-count-p2 {
  border-bottom: 4px solid black;
  border-left: 4px solid black;
  padding-left: 8px;
}

.health-count-p1 {
  border-bottom: 4px solid black;
  border-left: 4px solid black;
  padding-left: 3px;
  margin-left: -4%;
}

.game-state {
  display: none;
  margin: 6%;
}
